.catDiv {
    padding: 20px;
  }
  
 .catH2 {
    margin-top: 5;
  }
  
 .catUl {
    list-style: none;
    padding: 0;
  }
  
 .catList {
    display: inline-block;
    margin-right: 25px;
    padding: 7px;
    border: 1.5px solid rgb(228, 129, 0);
    border-radius: 18px;
    font-size: 18px;
    font-style: normal;
    background-color: #db9d2994;
    font-family: 'Vollkorn', serif;
  }