.footer {
    padding: 5px 0;
    font-size: 16px;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: 0 auto;
    font-size: 16px;
  }
  
  .footer-section {
    flex: 1 1 300px;
    margin-bottom: 0px;
    font-size: 16px;
  }
  
  .footer-section h3 {
    font-size: 19px;
    margin-bottom: 10px;
  }

  .footer-section p {
    font-size: 17px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: circle;
    padding: 0 auto;
    font-size: 16px;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .footer-section ul li a {
    font-size: 16px;
  }
  
  .social-icons a {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    margin-top: 0px;
    text-align: center;
    font-size: 18px;
  }

  .logoimpresionante {
    height: 50px;
  }